@font-face {
    font-family: Clarkson;
    src: url('/htmlFP/fonts/ClarksonScript-Regular.otf') format('opentype');
}

@font-face {
    font-family: atwriter;
    src: url('/htmlFP/fonts/atwriter.ttf') format('truetype');
}

figure {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
}

figure iframe {
    margin-bottom: 20px; 
    max-width: 100%; 
    height: auto;
}

p {
    margin-bottom: 20px;
    font-family: atwriter;
}


main p:last-child {
    margin-top: 20px;
}
